@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
* {
    font-family: 'Source Sans Pro', sans-serif;
}
p{
    color: #7A7A7A;
    line-height: 25px;
}
h1, h2, h3, h4{
    color: #00B2BB;
    text-transform: uppercase;
    font-weight: 700;
}
h1{
    font-size: 21px;
}
h2{
    font-size: 18px;
}
h1 p{
    font-size: 18px;
}
h2 p {
    font-size: 14px;
}